# Tarea 1

Fecha de entrega:
Jueves 7 de agosto, 2025, 11:59pm

Comentarios generales:

- No olvidar que python usa el snake_case (o minúsculas separadas por subguión) para llamar a sus variables.
- No nombrar variables con acentos porque algunas veces, dependiendo de la máquina en la que se corra, esto será aceptado o no.
- Leer  claramente qué es lo que pide la pregunta.

Ejemplo:  Utilizando sólo los siguientes inputs numéricos: ```5``` y ```2```  , maneje los operadores tal que el output sea ```120```. Crea una variable con el resultado.

In [46]:
output = (5*2)**2 + 5*2**2
output

120

1.  Utilizando sólo los siguientes inputs: ```5``` y ```2```  , maneje los operadores tal que el output sea ```100```

In [47]:
output_1 = (5 * 2) ** 2
output_1

100

2. Evalúa que el output del ejemplo sea mayor al output de 1. Crea una variable con esta evaluación (Hint: Será un booleano).

In [48]:
output_ejemplo = (5 * 2)**2 + 5 * 2**2
output = output_ejemplo > output_1
output

True

3. Utilizando sólo los siguientes inputs: ```51``` maneja los operadores tal que el output sea ```0```

In [49]:
output = 51 % 51
output

0

4.  Utilizando sólo los siguientes inputs: ```2``` (todos los 2 que necesites) maneja los operadores tal que el output sea ```5```

In [50]:
output = 2 + 2 + 2 - 1
output

5

5. Crea una variable ```x``` y una variable ```y``` que sumen 2500. Crea una variable ```v``` que dé un booleano, tal que evalúe que ```x + y``` sea igual a 2200.

In [51]:
x = 1000
y = 1500
v = (x + y == 2200)
v

False

6. Cree una variable ```z``` y una variable ```a``` que sumen 1000.

In [52]:
z = 600
a = 400
z + a

1000

7. Calcula cuántas horas trabajan en total los 130 congresistas de nuestro país en un año. Asume que trabajan 40 horas a la semana, por 48 semanas al año (considerando que tienen vacaciones y no trabajan sobretiempo).

In [45]:
horas_de_trabajo_por_semana = 40
semanas_de_trabajo_por_año = 48
numero_de_congresistas = 130

horas_de_trabajo_anual_por_congresista = horas_de_trabajo_por_semana * semanas_de_trabajo_por_año
print("Horas de trabajo anual por congresista:", horas_de_trabajo_anual_por_congresista)

horas_de_trabajo_anual_total = horas_de_trabajo_anual_por_congresista * numero_de_congresistas
print("Horas de trabajo anual total de los 130 congresistas:", horas_de_trabajo_anual_total)

Horas de trabajo anual por congresista: 1920
Horas de trabajo anual total de los 130 congresistas: 249600

8. Ahora calcula el salario de un congresista por hora. Los supuestos del anterior ejercicio se mantienen (Se puede pasar por alto las vacaciones). Cabe recordar que los congresistas ganan 15,600 soles mensuales.   
- Crea una variable para el salario por hora de un congresista.   
- Crea una variable para la suma de los salarios por hora de los 130 congresistas.

In [42]:
salario_mensual_por_congresista = 15600
numero_de_semanas = 4
horas_de_trabajo_por_semana = 40

salario_por_hora = salario_mensual_por_congresista / (numero_de_semanas * horas_de_trabajo_por_semana)
print("Salario por hora de un congresista:", salario_por_hora)

total_salarios_por_hora = salario_por_hora * 130
print("Suma de salarios por hora de los 130 congresistas:", total_salarios_por_hora)

Salario por hora de un congresista: 97.5
Suma de salarios por hora de los 130 congresistas: 12675.0

9. Con la reducción del IGV para restaurantes y hoteles (https://emprender.sunat.gob.pe/tributando/temas-actualidad/reduccion-igv-para-restaurantes-hoteles), los restaurantes pagan el 10% de IGV. Un restaurante factura 3426 soles diarios, en promedio, después de impuestos. Calcule el valor base (el IGV es 10% sobre el valor base, ó 1 + .1).

Calcule, utilizando el valor base, cuánto es el descuento del IGV en soles (o el 8% de este valor base).

Cree una variable para cada uno de los siguientes:
- porcentaje de IGV
- el total de facturación
- el monto del impuesto
- el valor base sin impuesto
- el descuento de IGV en soles. Puedes comprobar tu fórmula con cualquier recibo de pago que detalle el IGV.

In [39]:
facturacion_diaria_promedio_despues_de_impuestos = 3426
porcentaje_de_IGV = 0.1
porcentaje_descuento_igv = 0.08

valor_base_sin_impuesto = round(facturacion_diaria_promedio_despues_de_impuestos / (1 + porcentaje_de_IGV), 2)
print("Valor base sin impuesto:", valor_base_sin_impuesto)

monto_igv = round(valor_base_sin_impuesto * porcentaje_de_IGV, 2)
print("Monto del IGV:", monto_igv)

descuento_igv = round(valor_base_sin_impuesto * porcentaje_descuento_igv, 2)
print("El descuento es:", descuento_igv)

Valor base sin impuesto: 3114.55
Monto del IGV: 311.46
El descuento es: 249.16

10.  Cristina percibe el sueldo mínimo (1130 soles). Compruebe que el salario anual de Cristina es menor al salario anual de un congresista, usando operadores de comparación y una expresión que detalle el monto mensual y el número de meses trabajados de ambos. La comparación debe ser ser evaluada a un booleano

In [53]:
mesesAño = 12

salarioCristina = 1130
salarioCongresista = 15600 # Dato buscado en fuente externa al enunciado

salarioCristina_anual = salarioCristina*mesesAño
salarioCongresista_anual = salarioCongresista*mesesAño

comparacion = salarioCristina_anual < salarioCongresista_anual

print(f" {salarioCristina_anual} < " f"{salarioCongresista_anual} es {comparacion} ")

 13560 < 187200 es True

11. Una conocida petrolera debe volver a compensar a  1023 familias que se dedican a la pesca por la contaminación causada en el mar donde pescan. El nuevo monto negociado es de 1200 millones de soles, sin embargo, una cláusula del contrato dice que el monto de compensación tiene que ser un número entero. ¿Cuántos soles adicionales se le  tiene  que agregar al monto negociado para que las familias reciban una cantidad entera,  asumiendo que para lograr este número entero, hay que elevar el monto total? (Pista: Acuérdate del  floor y el módulo).

In [54]:
familias = 1023
montoNegociado = 1200000000

resto = montoNegociado % familias
print(f"Sobran: {resto} soles")

# Lo que falta analizar
adicional = familias - resto
print(f"Soles adicionales necesarios: {adicional}")

nuevoMOnto = montoNegociado + adicional
solesFamilia = nuevoMOnto // familias
print(f"Cada familia recibirá: {solesFamilia} soles")

Sobran: 540 soles
Soles adicionales necesarios: 483
Cada familia recibirá: 1173021 soles

12. Crea una variable igual a una lista que contenga:
- un string,
- un booleano,
- dos valores numéricos (de cualquier tipo) y
- una lista de dos strings con el nombre de tus artistas musicales favoritos.

In [55]:
lista = [
          "Bienvenido",
          False,
          7,
          3.14,
          ["Bale","Benzema","Cristiano"],
]

print(lista)

print(type(lista[0]),
      type(lista[1]),
      type(lista[2]),
      type(lista[3]),
      type(lista[4]))

['Bienvenido', False, 7, 3.14, ['Bale', 'Benzema', 'Cristiano']]
<class 'str'> <class 'bool'> <class 'int'> <class 'float'> <class 'list'>

13. Tenemos la siguiente lista de cursos:

In [9]:
cursos = ["Ciencia Politica", "Economia", "Antropologia", "Sociologia", "Relaciones Internacionales"]

Realiza las siguientes operaciones en bloques diferentes:
- Calcula cuántos elementos tiene la lista.

In [10]:
len(cursos)

5

13.1. Agrega tres cursos adicionales de 3 formas diferentes (uno por forma):
   - Suma (+) una lista que contenga un curso adicional.
   - Usa el append.
   - Usa el extend.

In [11]:
cursos = cursos + ["Historia"]
cursos.append("Psicología")
cursos.extend(["Derecho"])

13.2.
- Usa la indexación para señalar a _Relaciones Internacionales_.

In [12]:
cursos[4]

'Relaciones Internacionales'

13.3.
- Remueve el curso que menos te guste de la lista.

In [13]:
cursos.remove("Sociologia")
print(cursos)

['Ciencia Politica', 'Economia', 'Antropologia', 'Relaciones Internacionales', 'Historia', 'Psicología', 'Derecho']

14
Tenemos los siguientes números: 22, 27, 74.2, 16.8, 125, 80, 100.
 - Crea una lista con ellos.
 - Ordena la lista de menor a mayor.
 - Saca el promedio de los números de la lista.  
(Realiza cada uno en bloques separados).

In [31]:
numeros = [22, 27, 74.2, 16.8, 125, 80, 100]

In [32]:
numeros.sort()
print(numeros)

[16.8, 22, 27, 74.2, 80, 100, 125]

In [33]:
promedio = sum(numeros) / len(numeros)
print(promedio)

63.57142857142857

15.Utilizando un “if else” cree una estructura que evalúe “x” tal que:

Si x es múltiplo de 2 imprima “Es múltiplo de 2”.

Si x es múltiplo de 3 imprima “Es múltiplo de 3”

Si x es múltiplo de 2 y 3 imprima “Es múltiplo de 2 y 3”

Para otro caso, imprime “Otro caso”
Muestra un ejemplo con x = 6.

In [6]:
x = int(input("Ingresa un número: "))

if x % 2 == 0 and x % 3 == 0:
    print("Es múltiplo de 2 y 3")
elif x % 2 == 0:
    print("Es múltiplo de 2")
elif x % 3 == 0:
    print("Es múltiplo de 3")
else:
    print("Otro caso")

Ingresa un número: 2
Es múltiplo de 2

16.Crea una función llamada clasificar_edad() que reciba como parámetro la edad de una
persona. La función debe clasificar a la persona en una de las siguientes categorías:

"Niño" si la edad es menor de 12 años.

"Adolescente" si la edad está entre 12 y 17 años.

“Joven” si la edad está entre 18 y 24 años.

"Adulto" si la edad está entre 25 y 64 años.

"Adulto Mayor" si la edad es mayor o igual a 65 años.

La función debe devolver la categoría correspondiente. Prueba la función con las edades de
10, 19, 25 y 70.

In [56]:
def clasificar_edad(edad):
    if edad < 12:
        return "Niño"
    elif 12 <= edad <= 17:
        return "Adolescente"
    elif 18 <= edad <= 24:
        return "Joven"
    elif 25 <= edad <= 64:
        return "Adulto"
    else:
        return "Adulto Mayor"

edad_ingresada = int(input("Ingresa la edad: "))
print(clasificar_edad(edad_ingresada))

Ingresa la edad: 3
Niño